nav li{
    margin-right: 20px;
    font-size: 14px;
}

#log{
    border:white 2px solid;
    padding: 5px;
    width: 120px;
}

#banner img{
    width: 100%;
    height: 88vh;
}

#banner-h1{
    letter-spacing: 10px;
    color: #F7F7F7;
    
}

#banner-h3{
    color: #F7F7F7;
    margin-top: 10px;
}

#trial-btn {
    background: #C60A08;
    padding: 12px;
    width: 40vh;
    transition: background-color 0.3s ease;
  }
  
  #trial-btn:hover {
   opacity: 0.9;
  }


  .anchor-block {
    display: block;
    height: 18vh;
    margin: 20px;
    width: 90%;
    background-color: #f8f9fa;
    text-decoration: none;
  }
  
  .anchor-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 18px;
    flex-wrap: wrap;
    
  }
  

    #curriculum
    {
        background-color: #0091A2;
    } 
    #instructor{
        background-color: #E57E00;

    }
    #portfolio{
        background-color: #008525;
    }
   
    #check-btn {
        background: #F7F7F7;
        padding: 12px;
        width: 30vh;
        transition: background-color 0.3s ease;
        color: #F70202;
        border: #F70202 2px solid;
      }
  
      #check-btn:hover {
        background: #F70202;
        padding: 12px;
        width: 30vh;
        transition: background-color 0.3s ease;
        color: #f6f6f6;
        border: #F70202 2px solid;
      }