
nav li{
    margin-right: 20px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

#log{
    border:white 3px solid;
    padding: 5px;
    width: 120px;
    color: white;
}


#log:hover{
  color: black;
  background-color: #f6f6f6;
}

#Login-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    letter-spacing: 2px;
    color: black;
}

input[type="email"], input[type="password"], input[type="name"]{
    width: 70vh;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid red;
    margin-bottom: 20px;
    box-sizing: border-box;
    height: 8vh;
}


input[type="email"], input[type="password"], input[type="name"]:focus{
    box-sizing: border-box;
    outline: none;
}

    form h6{
        font-size: 17px;
    }

    input[type="checkbox"]{
        margin-right: 5px;
        border: red 1px solid;
    }

    #trial-btn-2{
        background: #E50A0A;
        width: 70vh;
        transition: background-color 0.3s ease;
        font-size: 16px;
        padding: 10px;
        font-weight: medium;
        margin-top: 20px;
      }

      #trial-btn-2:hover {
        background-color: #a30303;
      }

      .google-btn{
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 12px;
        width: 100%;
        margin-top: ;
        background-color: white;
        border: #c2c2c2 1px solid;
        padding: 6px 6px;
        display: flex;
        flex-direction: row;
    }
    .google-btn img {
        margin-left: 100px;
        margin-top:4px;
    }
    .google-btn h6 {
        text-align: center;
        margin-left: 10px;
        margin-top: 3px;
        font-size: 16px;
    }
    
    .google-btn:hover{
        border: solid 1px #555;
    }

    #sign-up{
        margin: 10px;
        text-align: center;
        font-size: 18px;
    }

    #sign-up a{
        font-weight: bold;
        text-decoration: none;
        color: #a30303;
    }
    

footer{
    padding-top: 50px;
    padding-bottom: 70px;

  }
 footer h5{
  color: #797979;
  margin-bottom: 30px;
 }
 
 footer a{
  color: #797979;
  font-weight: 600;
 }

 footer li{
  margin-top: 20px;
 }